@model User

<div class="container mt-5">
    <h1>Şifre Sıfırlama</h1>

    
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="LoginRegister" asp-action="SifremiUnuttum" method="post">
        <!-- Doğru yönlendirme -->
        <div class="form-group">
            <label asp-for="Mail">Mailinizi Giriniz:</label>
            <input type="email" class="form-control" asp-for="Mail" required>
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </form>
</div>
<script src="~/js/sifremiunuttum"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
